[submodule "work/Skript_v2_12"]
	path = work/Skript_v2_12
	url = https://github.com/SkriptLang/Skript
[submodule "work/Skript_v2_9"]
	path = work/Skript_v2_9
	url = https://github.com/SkriptLang/Skript
