[submodule "work/Skript_v2_8"]
	path = work/Skript_v2_8
	url = https://github.com/SkriptLang/Skript
[submodule "work/Skript_v2_9"]
	path = work/Skript_v2_9
	url = https://github.com/SkriptLang/Skript
[submodule "work/Skript_v2_10"]
	path = work/Skript_v2_10
	url = https://github.com/SkriptLang/Skript
[submodule "work/Skript_v2_11"]
	path = work/Skript_v2_11
	url = https://github.com/SkriptLang/Skript
[submodule "work/Skript_v2_12"]
	path = work/Skript_v2_12
	url = https://github.com/SkriptLang/Skript
[submodule "work/Skript_v2_13"]
	path = work/Skript_v2_13
	url = https://github.com/SkriptLang/Skript
[submodule "work/Skript_v2_14"]
	path = work/Skript_v2_14
	url = https://github.com/SkriptLang/Skript
